@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.buttonGradientColor {
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
}

/* Home page */
.landingBackgroud {
    background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
}

.imgDropShadow {
    filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
}

.headerTextGradient {
    background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Event Page */
.eventIconShadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
